#loginForm{
	margin-top: 100px; 
	margin-left: auto;
	margin-right: auto;
	background-color:#f7f7f7;
	border-radius: 10px;
	width: 200;
	height: 160px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: none;

}
